.bookLists{
    height: 10.625rem;
    margin: 2.313rem 6.25rem 0;
    padding: 2rem 9.188rem 1.625rem 1.688rem;
    border-radius: 4px;
    border: solid 1px #e8e8e8;
    background-color: white;
    display: flex;
}
.bookSection{
    width: 60%;
}
.action{
    height: 1.125rem;
    margin: 0 2.438rem 0 0;
    opacity: 0.5;
    font-family: Montserrat;
    font-size: 0.875rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #121212;
}
.book-title{
    width: 50%;
    height: 1.813rem;
    margin: 0.188rem 20.188rem 0 0;
    font-family: RobotoSlab;
    font-size: 1.375rem;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: -0.2px;
    display: block;
}
.book-author{
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-family: RobotoSlab;
  font-size: 0.875rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4386bf;
}
.interactionSection{
    padding-top: 40px;
}
.comments, .edit, .remove-btn-span{
    width: 4.563rem;
    height: 1.188rem;
    margin: 0.188rem 0.938rem 0.125rem 0;
    font-family: RobotoSlab;
    font-size: 0.875rem;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
   color: #4386bf;
    
}
.remove-btn{
    border: none;
    background: none;
    border-left: 1px solid #f2f2f2;
    border-right:1px solid #f2f2f2;
    color: #4386bf;
}
.percentage{
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#121212;
}
.completed{
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: Montserrat;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color:#121212;
  display: block;
}
.progress{
   display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.line{
  width: 0.125rem;
  height: 4.375rem;
  margin: 1.125rem 3.688rem 0 4.938rem;
  border: solid 1px rgb(202, 199, 199);
}

.chapter button {
  background-color: #0290ff;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 0.3rem 1.5rem;
  border: none;
  border-radius: 4px;
  margin-top: 1.3rem;
  cursor: pointer;
}