@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500&family=Roboto+Slab:wght@300;400;500&family=Roboto:wght@300;400;500;900&display=swap');

.bookLists {
  margin: 2.313rem 6.25rem 0;
  padding: 2rem 9.188rem 1.625rem 1.688rem;
  border-radius: 4px;
  border: solid 1px #e8e8e8;
  background-color: white;
  display: flex;
}

.bookSection {
  width: 60%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.action {
  height: 1.125rem;
  margin: 0 2.438rem 0 0;
  opacity: 0.5;
  font-family: "Montserrat", sans-serif;
  font-size: 0.875rem;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.book-title {
  width: 50%;
  height: 1.813rem;
  margin: 0.188rem 20.188rem 0 0;
  font-size: 1.375rem;
  font-weight: bold;
  letter-spacing: -0.2px;
  display: block;
}

.book-title,
.book-author,
.comments,
.edit,
.remove-btn-span {
  font-family: ' Roboto Slab', serif;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
}

.book-author {
  height: 1.188rem;
  margin: 0.25rem 0 0;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  color: #4386bf;
}

.interactionSection {
  padding-top: 20px;
}

.comments,
.edit,
.remove-btn-span {
  width: 4.563rem;
  height: 1.188rem;
  margin: 0.188rem 0.938rem 0.125rem 0;
  font-size: 0.875rem;
  font-weight: 300;
  letter-spacing: normal;
  color: #4386bf;
  cursor: pointer;
}

.remove-btn {
  border: none;
  background: none;
  border-left: 1px solid #f2f2f2;
  border-right: 1px solid #f2f2f2;
  color: #4386bf;
  cursor: pointer;
}

.percentage {
  height: 2.438rem;
  margin: 0.063rem 5.75rem 0 0.688rem;
  font-family: 'Montserrat', sans-serif;
  font-size: 2rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
}

.completed {
  height: 1.125rem;
  margin: 0.438rem 4.938rem 0.75rem 0.75rem;
  opacity: 0.5;
  font-family: 'Montserrat', sans-serif;
  font-size: 0.875rem;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #121212;
  display: block;
}

.progress {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
  margin-left: 30px;
}

.line {
  height: 4.375rem;
  margin: 2rem 4rem 0 5rem;
  border: solid 1px rgb(202, 199, 199);
}

.chapter {
  width: 30%;
}

.chapter p {
  font-family: 'Roboto Slab', serif;
  font-size: 0.813rem;
  font-weight: 300;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
}

.chapter h2 {
  font-family: 'Roboto Slab', serif;
  font-size: 1rem;
  font-weight: 400;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: -0.4px;
}

.chapter button {
  background-color: #0290ff;
  color: white;
  font-size: 18px;
  font-family: 'Montserrat', sans-serif;
  padding: 10px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}
